@import url("https://fonts.googleapis.com/css?family=Rajdhani:500,700|Source+Sans+Pro:300,400,600");

body {
  background-color: #f5f6f7;
  overflow: hidden;
}

body.darkness{
  background-color: #1D2124;
}

body.darkness .card {
  box-shadow: 5px 10px 18px rgba(0,0,0,.75) !important;
}

body.darkness .moon {
  color: #f5f6f7;
}

.card {
  box-shadow: 5px 10px 18px rgba(0,0,0,.25) !important;
  border-radius: 15px;
  margin: 0px auto;
}

.card-footer {
  background-color: #fff;
  color: #333;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.generate-button:hover {
  background-color: #f56a6a;
  color: #fff;
  cursor: pointer;
}

.back-button:hover {
  background-color: #f56a6a;
  color: #fff;
  cursor: pointer;
  border-bottom-left-radius: 15px;
}

.copy-button:hover {
  background-color: #f56a6a;
  color: #fff;
  cursor: pointer;
  border-bottom-right-radius: 15px;
}

@media screen and (min-width: 768px) {
  .card {
    min-width: 400px;
    width: 400px;
  }
  .color-box {
    min-height: 325px;
    height: 325px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    min-width: 300px !important;
    width: 300px !important;
  }
  .color-box {
    min-height: 225px !important;
    height: 225px !important;
  }
}
