@import url("https://fonts.googleapis.com/css?family=Rajdhani:700|Nunito:300,400");

body {
  background-color: #f5f6f7;
  overflow: hidden;
  font-family: 'Nunito', sans-serif !important;
}

body.darkness{
  background-color: #1D2124;
}

body.darkness .content {
  color: #f5f6f7;
}

body.darkness a {
  color: #7288FF;
}

body.darkness a:hover {
  color: #4B67FC;
}

body .moon {
  color: rgba(0,0,0,.6);
}

body.darkness .moon {
  color: rgba(255,255,255,.6);
}

.card {
  box-shadow: 5px 10px 18px rgba(0,0,0,.25) !important;
  border-radius: 15px;
  margin: 0px auto 1.5rem auto;
}

body.darkness .card {
  box-shadow: 5px 10px 18px rgba(0,0,0,.75) !important;
}

.tabs a {
  font-weight: 300;
  color: rgba(0,0,0,.6);
}

.tabs li.is-active a{
  font-weight: 400;
  color: rgba(0,0,0,.6) !important;
  border-bottom: 2px solid #3273dc !important;
}

body.darkness .tabs a {
  color: rgba(255,255,255,.6) !important;
}

body.darkness .tabs li.is-active a{
  color: rgba(255,255,255,.6);
  border-bottom: 2px solid #4B67FC !important;
}


.card-footer {
  background-color: #fff;
  color: #333;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.disabled-button {
  background-color: #e8e8e8;
  color: #fff;
  cursor: not-allowed;
  border-bottom-left-radius: 15px;
}

.color-info {
  font-family: Rajdhani, sans-serif;
  font-weight: 700;
  padding: 12px !important;
}


@media screen and (min-width: 768px) {
  .card {
    min-width: 400px;
    width: 400px;
  }

  .color-box {
    min-height: 325px;
    height: 325px;
  }

  .color-info {
    font-size: 1.8rem;
  }

  .generate-button:hover {
    background-color: #f56a6a;
    color: #fff;
    cursor: pointer;
  }

  .back-button:hover {
    background-color: #f56a6a;
    color: #fff;
    cursor: pointer;
    border-bottom-left-radius: 15px;
  }

  .copy-button:hover {
    background-color: #f56a6a;
    color: #fff;
    cursor: pointer;
    border-bottom-right-radius: 15px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    min-width: 280px !important;
    width: 280px !important;
  }

  .color-box {
    min-height: 225px !important;
    height: 225px !important;
  }

  .color-info {
    font-size: 1.5rem;
  }
}
